.modal {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: auto;

		.modal-content {
			top: 50%;
			opacity: 1;
		}
	}

	.modal-bg {
		position: absolute;
		top: 0;left: 0;
		bottom: 0;right: 0;
		background-color: $modal-bg;
	}

	.modal-content {
		max-width: calc(100vw - 2rem);
		max-height: calc(100vh - 6rem);
		position: absolute;
		top: 45%;
		left: 50%;
		padding: 2rem;
		transform: translate3d(-50%, -50%, 0);
		opacity: 0;
		@include radius($modal-radius);
		transition: all $transition-duration;
		transition-delay: $transition-duration;

		background-color: $white;
	}

	.close {
		color: $white;
		position: absolute;
		right: 3rem;
		top: 3rem;

		font-size: 2rem;
		cursor: pointer;
	}



	// Modal sizes
	&.is-full {
		.modal-content { width: $modal-full-size; }
	}
	&.is-medium {
		.modal-content { width: $modal-medium-size; }
	}
	&.is-small {
		.modal-content { width: $modal-small-size; }
	}

}
